<footer>
  <div class="footer-content">
    <div class="footer-col">
      <a routerLink="/" class="logo">TIME-ZONE</a>
      <p>Animationsfilme, die bewegen. Welten, die verbinden.</p>
    </div>
    <div class="footer-col">
      <h4>Unternehmen</h4>
      <ul>
        <li><a routerLink="/" fragment="serie">Serie</a></li>
        <li><a routerLink="/" fragment="tochterfirmen">Tochterfirmen</a></li>
        <li><a routerLink="/" fragment="history">HistoryFacts</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Tochterfirmen</h4>
      <ul>
        <li><a href="#">TIME-ZONE-TRANSAT</a></li>
        <li><a href="#">TIME-ZONE Therapie</a></li>
        <li><a href="#">HistoryFacts</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Kontakt</h4>
      <ul>
        <li><a href="mailto:hello@timezone.com">hello&#64;timezone.com</a></li>
        <li><a routerLink="/impressum">Impressum</a></li>
        <li><a routerLink="/datenschutz">Datenschutz</a></li>
        <li><a routerLink="/bildquellen">Bildquellen</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    © 2026 TIME-ZONE. Alle Rechte vorbehalten.
  </div>
</footer>
