<section id="history">
  <app-admin-add-button wrapperClass="history-add" [items]="addItems"></app-admin-add-button>
  <div class="section-header">
    <div class="section-label">HistoryFacts</div>
    <h2>Geschichte, die fasziniert</h2>
    <p>Ein Auszug aus unseren beliebtesten historischen Fakten und Geschichten.</p>
  </div>

  <div class="facts-grid">
    @for (fact of facts; track fact.year) {
      <div class="fact-card" (click)="factClick()">
        <div class="fact-year">{{ fact.year }}</div>
        <h4>{{ fact.title }}</h4>
        <p>{{ fact.description }}</p>
      </div>
    }
  </div>
</section>
